body {
    background-color: rgb(209, 209, 209);
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

#addBtn {
    border: 0px;
    border-radius: 100px;
    height: 70px;
    width: 210px;
    background-color: rgb(0, 185, 0);
    font-size: 22px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#dialog {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 30%;
    border: 0px;
    background-color: rgb(226, 226, 226);
    filter: drop-shadow(1px 1px 2px rgb(83, 83, 83));
    border-radius: 5px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form div {
    height: 50px;
    font-size: 24px;
}

#form input {
    font-size: 24px;
    border: 0px;
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
}

#numberOfPages {
    width: 50%;
}

#formSubmit {
    background-color: rgb(0, 255, 0)!important;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 30%;
}