body {
    background-color: rgb(209, 209, 209);
}

th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

#addBtn {
    border: 0px;
    border-radius: 100px;
    height: 70px;
    width: 210px;
    background-color: rgb(0, 185, 0);
    font-size: 22px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#dialog {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 30%;
    border: 0px;
    background-color: rgb(226, 226, 226);
    filter: drop-shadow(1px 1px 2px rgb(83, 83, 83));
    border-radius: 5px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form div {
    height: 50px;
    font-size: 24px;
}

input {
    font-size: 16px;
    border-width: 0px;
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
    padding: 10px;
}

#numberOfPages {
    width: 50%;
}

#formSubmit {
    background-color: rgb(0, 255, 0)!important;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 30%;
}

tr label {
    display: none;
}

#placeForButtons {
    width: 160px;
    border: 0px;
}

.deleteButton {
    background-color: red;
    width: 70px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px grey);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.readButton {
    background-color: rgb(38, 0, 255);
    width: 70px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px grey);
    color: white;
    font-size: 16px;
    font-weight: bolder;  
}

.btnDiv {
    display: flex;
    gap: 2px;
}

input:required {
    border: 1px solid black;
}

input:invalid {
    border: 1px solid red;
    filter: drop-shadow(1px 1px 5px red);
}